source_up # load parent .envrc files intending to get NEMU_HOME or NPC_HOME

check_env() {
    local ret=0
    for var in "$@"; do [[ -v $var ]] || {
        echo "$var is missing"
        ret=1
    }; done
    return $ret
}

args=()
if check_env NEMU_HOME; then
    args+=(--arg-from-file nemu-home "$NEMU_HOME"/shell.nix)
elif check_env NPC_HOME; then
    args+=(--arg-from-file nemu-home "$NPC_HOME"/shell.nix)
fi

use nix "${args[@]}"
