source_up # load parent .envrc files intending to get NEMU_HOME or NPC_HOME

check_env() {
    local ret=0
    for var in "$@"; do [[ -v $var ]] || {
        echo "$var is missing"
        ret=1
    }; done
    return $ret
}

args=()
if check_env NEMU_HOME; then
    args+=(--arg nemu-env "(import $NEMU_HOME/shell.nix { })")
fi

if check_env NPC_HOME; then
    args+=(--arg npc-env "(import $NPC_HOME/shell.nix { })")
fi

use nix "${args[@]}"
