[submodule "nvboard"]
	path = nvboard
	url = git@github.com:NJU-ProjectN/nvboard.git
	branch = master
[submodule "fceux-am"]
	path = fceux-am
	url = git@github.com:NJU-ProjectN/fceux-am.git
	branch = ics2021
[submodule "am-kernels"]
	path = am-kernels
	url = git@github.com:PeterWang-dev/am-kernels.git
	branch = ics2021
[submodule "npc"]
	path = npc
	url = git@github.com:PeterWang-dev/FutureCore.git
